'.php':
  'Splint CodeIgniter Event Class':
    'prefix': 'spl-e'
    'body': """
    <?php
    defined('BASEPATH') OR exit('No direct script access allowed');

    class ${1:EventName} extends AppEvent
    {}
    """
